<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="crudTest.listeners" >

        </listener>
    </listeners>

    <test  name="createcomputer">
        <classes>
            <class name="crudTest.createTest"/>
        </classes>
    </test>
    <test  name="updatecomputer">
        <classes>
            <class name="crudTest.updateTest"/>
        </classes>
    </test>
    <test  name="deletecomputer">
        <classes>
            <class name="crudTest.deleteTest"/>

        </classes>
    </test>
</suite>